/* === CSS Reset ===*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* === Styles === */
@font-face {
  font-family: "Archivo";
  src:
    url("./assets/fonts/Archivo.woff2") format("woff2-variations"),
    url("./assets/fonts/Archivo.woff") format("woff-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #0ea5e9;
  --primary-color-light: #34b5fa;
  --primary-color-dark: #004c6e;
  --neutral-color: #eceef0;
  --neutral-color-dark: #d4d5d7;
  --neutral-color-light: #ffffff;
  --heading-font-color: #000000;
  --body-font-color: #64748b;
}

body {
  font-family:
    "Archivo", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

form {
  background-color: var(--neutral-color-light);
  display: flex;
  justify-content: center;
  padding: 0.8rem 0;
  position: relative;
}

#search-input,
#search-btn {
  border-radius: 25px;
  border: none;
  padding: 0.5rem 3.5rem 0.5rem 2.6rem;
}

#search-input {
  width: 33%;
  background-color: var(--neutral-color);
  color: var(--body-font-color);
  font-weight: 600;
}

#search-input:focus {
  outline: 2px solid var(--primary-color);
}

#search-btn {
  position: absolute;
  right: calc(33% + 13px);
  padding: 0.2rem 0.8rem;
  background-color: var(--primary-color-dark);
  fill: var(--neutral-color-light);
}

#search-btn,
form > svg {
  top: 50%;
  transform: translateY(-50%);
}

#search-btn > svg {
  width: 1.3rem;
}

form > svg {
  width: 1.5rem;
  position: absolute;
  left: calc(33% + 20px);
  fill: var(--body-font-color);
}

#temp-unit-toggle-container {
  display: flex;
  justify-content: space-around;
  background-color: var(--neutral-color-dark);
  width: 5.5rem;
  padding: 0.3rem 0.6rem 0.3rem;
  position: relative;
}

#temp-unit-toggle-container > p {
  z-index: 1;
  font-weight: 700;
  color: var(--body-font-color);
}

#temp-unit-toggle {
  appearance: none;
  position: absolute;
}

#temp-unit-toggle-container::before {
  content: "";
  height: 75%;
  width: 43%;
  position: absolute;
  top: 13%;
  left: auto;
  right: 7%;
  background-color: var(--neutral-color);
}

#temp-unit-toggle-container:has(#temp-unit-toggle:checked)::before {
  right: auto;
  left: 7%;
}

#temp-unit-toggle:checked ~ #fahrenheit-label {
  color: var(--primary-color);
}

#temp-unit-toggle:not(:checked) ~ #celsius-label {
  color: var(--primary-color);
}

#temp-unit-toggle-container,
#temp-unit-toggle-container::before {
  border-radius: 6px;
}
